*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
#div1{
    height:80vh ;
    width: 100%;
    background: url("/parallex-website/images/image.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
    background-color: #212121;
    padding: 100px;
    /* margin-left: 20%; */
    background-color: #212121;
    padding: 100px ;
    text-align: center;
    font-size: 1.5em;
}
* h1{
    background-color: black;
    font-size: 3em;
    padding: 100px;
    border-radius: 50px;
}
#div2{
  
    height:80vh ;
    width: 100%;
    background: url("/parallex-website/images/img1.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div3{
    height:80vh ;
    width: 100%;
    background: rl("/parallex-website/images/img3.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    text-align: center;
    background-color: aliceblue;
    color:#212121;
    padding: 20px;
    position: sticky;
    top: 0;
}
